
// COLORS
$color-black: #000;
$color-white: #fff;

$color-dark-default: #23272B;
$color-light-default: #E2E6EA;
$color-medium-default: #5A6268;

$color-green-default: #218838;
$color-red-default: #C82333;
$color-blue-default: #0069D9;
$color-yellow-default: #E0A800;

// SIZES
