// Base scss file containing default config for all the others scss files

// COLORS
$color-black: #000;
$color-white: #fff;

$color-dark-default: #23272C;
$color-light-default: #E1E6EB;
$color-medium-default: #586268;

$color-green-default: #008F31;
$color-blue-default: #005DE0;
$color-yellow-default: #E9A900;
$color-red-default: #DB0025;

$color-blue-light: #008699;

// SIZES
$size-default: 12px;
$size-little: 5px;
$size-big: 19px;
