// Topbar style sheet
@import '../../assets/style-base.scss';

.topbar {
  height: 60px;
  width: 100%;
  padding: 0 2em;
  background: $color-dark-default;
  color: $color-yellow-default;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .topbar-header {

    display: flex;
    align-items: center;

    .topbar-header-text {
      font-size: 2em;
    }
  }

  .topbar-icon {

    display: flex;
    align-items: center;

    .topbar-icon-menu {
      cursor: pointer;
      font-size: 30px;
    }
  }
}
