import React from 'react';

// STYLE
import './style.scss';

const <%= props.name %> = props => {
    const {} = props;
    
    return (
        <div className="<%= props.name %>">Template component</div>
    );
};

export default <%= props.name %>;