
:root {
    --card--border-color: #000;
    --card--border-radius: 8px;
}

.person {
    width: 250px;
    margin: 20px 0;
    border: 1px dashed var(--card--border-color);
    border-radius: var(--card--border-radius);
}

.person > table tbody tr td {
    width: 50%;
    padding: 10px;
}