// MAIN COLORS
$color-primary: #61DAFB;
$color-dark: #313131;
$color-light: #FFFFFF;

// BACKGROUND COLORS
$color-bg-primary: #FFFFFF;
$color-bg-secondary: #313131;

// TEXT COLORS
$color-text-dark: #313131;
$color-text-light: #FFFFFF;
