
/* topbar config */
@import './styles/topbar.css';

/* info sections */
@import './styles/content-info.css';

/* GOOGLE FONTS */
/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Major Mono Display', monospace;
font-family: 'Oswald', sans-serif;
font-family: 'Aleo', serif; */

:root {
    --body--background-color: #000;
}

body {
    margin: 0;
    padding: 0;
    height: 200vh;
    background: var(--body--background-color);
    font-family: 'Roboto', sans-serif;
}