
// BLACK-WHITE SCALE COLORS
$color-black: #000;
$color-white: #fff;
$color-dark-default: #23272C;
$color-light-default: #E1E6EB;
$color-default: #586268;

// BASIC COLORS
$color-green-default: #008F31;
$color-blue-default: #005DE0;
$color-yellow-default: #E9A900;
$color-red-default: #DB0025;
// $color--default: ;

// OTHER COLORS
$color-blue-light: #008699;
